// Bouttons
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &__value {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    border-radius: $btn-radius;
    border-style: none;
    @include btn-shadow;
    color: #fff;
    background: $secondary-color;
    background: linear-gradient(
      180deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    cursor: pointer;

    &:hover {
      @include btn-hover;
    }
  }
}
// les 3 etape de fonctionnements BEM
.step {
  position: relative;
  background: $res-step-des-bg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem;
  height: 7rem;
  width: 85%;
  border-radius: $step-radius;
  /* border: 1px solid red; */
  @include step-shadow;

  &__number {
    position: absolute;
    background-color: $primary-color;
    color: #fff;
    left: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  &__logo {
    margin: 1rem 3rem;
    font-size: 2rem;
    color: gray;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  &--hover:hover {
    background: #d860f067;

    .step__logo {
      color: $primary-color;
    }
  }
}

//Menu des restaurants et prix

.iteme-menu {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 1.5rem auto;
  border-radius: 1rem;
  @include step-shadow;
  font-size: 1.2rem;
  background: #fff;
  cursor: pointer;

  &--checked:hover &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 2rem;
    color: #fff;
    background: $tertiary-color;
    border-radius: 0 1rem 1rem 0;
    animation: circle-bg 0.5s linear;

    i {
      animation: circle 0.5s linear;
    }
  }

  &__name {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;

    span {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  &__price {
    align-self: flex-end;
    font-weight: bold;
    padding: 0 1rem 1rem 0;
    font-size: 1.1rem;
  }

  &__logo {
    display: none;
    font-size: 2rem;
  }
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-bg {
  0% {
    width: 5%;
  }
  30% {
    width: 10%;
  }
  60% {
    width: 15%;
  }
  80% {
    width: 18%;
  }
}
