:root {
  font-size: 10px;
}

@font-face {
  font-family: "roboto";
  src: url(/public/font/Roboto/Roboto-Black.ttf),
    url(/public/font/Roboto/Roboto-Bold.ttf),
    url(/public/font/Roboto/Roboto-Light.ttf),
    url(/public/font/Roboto/Roboto-Medium.ttf),
    url(/public/font/Roboto/Roboto-Regular.ttf);

  font-family: "shrikhand";
  src: url(/public/font/Shrikhand/Shrikhand-Regular.ttf);
}

// Police d'ecriture
body {
  font-family: "roboto", sans-serif;
}

footer h3 {
  font-family: "shrikhand", sans-serif;
}

// Taille des polices
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}
