:root {
  font-size: 10px;
}

// Police d'ecriture
body {
  font-family: "roboto", sans-serif;
}

footer h3 {
  font-family: "shrikhand", sans-serif;
}

// Taille des polices
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}
