// Couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// couleur de fond
$res-step-des-bg: #f6f6f6;
$search-bg: #eaeaea;

// arrondie
$btn-radius: 5rem;
$step-radius: 1.5rem;
$card-radius: 1.5rem;
