footer {
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  padding: 2.5rem 0;

  h3 {
    width: 85%;
    margin: 2rem auto;
  }

  ul {
    width: 85%;
    margin: 2rem auto;
    line-height: 3rem;

    i {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 2rem;
    }

    a {
      color: #fff;
    }
  }
}
